@charset "ISO-8859-1";


html, body {
    width: 100%;
    height: 100%;
    background: #F8FAB7;
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}
#content_container {
    width: 30%;
    height: 70%;
}

#form_container {
    width: 100%;
    height: 100%;

    background-color: white;
    box-shadow: 0 0 50px -20px #000;
    border-radius: 2%;

    overflow: hidden;
}

#form_header_container {
    width: 100%;
    height: 5%;

    display: flex;
    justify-content: center;
    align-items: center;
    float: left;

    padding: 20px;
    padding-bottom: 30px;
    padding-top: 30px;

    border-bottom: 1px solid transparent;
    background:#65AD21;
}

#form_header {
    display: inline-block;
    font-size: 15px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;


    background: whitesmoke;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
}

#form_content_container {
    width: 100%;
    height: 90%;

    float: left;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 30px;
}

#form_content_inner_container {
    width: 75%;
    height: 100%;


}

input {
    width: 100%;
    height: 40px;

    padding-left: 10px;
    margin-bottom: 20px;

    background: white;
 
    font-weight: 500;
    color: black;
    font-size: 12px;

    border-bottom: 2px solid transparent;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    border-image: -webkit-linear-gradient(25deg, #FFBE0B, #65AD21, #65AD21, #65AD21, #3A86FF) 1;
}



 #button_container {
    width: 100%;
    height: 10%;
    text-align: center;
   padding-top: 3%;
} 


 #button_container button{
    width: 100%;
    height: 100%;
	
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	border-radius: 20px;
	margin-top: 3.5px;
	color: whitesmoke;
	background-color: #65AD21;
	cursor: pointer;
} 


#button_container :hover {
	background-color: #1B223C;
	transition: .5s;

}






